<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Angular Training</title>

  <link rel="stylesheet" href="css/reveal.css">
  <!-- <link rel="stylesheet" href="css/theme/black.css"> -->
  <link rel="stylesheet" href="css/theme/white.css">

  <!-- Theme used for syntax highlighting of code -->
  <link rel="stylesheet" href="lib/css/zenburn.css">

  <!--  custom css -->
  <link rel="stylesheet" href="css/custom.css">

  <!-- Printing and PDF exports -->
  <script>
    var link = document.createElement('link');
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
    document.getElementsByTagName('head')[0].appendChild(link);
  </script>
</head>

<body>
  <div class="reveal">
    <div class="slides">
      <!--
        ff7200
        #2b7cd0
      -->
      <!--  <section data-background-opacity="0.1" data-background-image="assets/code.png"> -->
      <section>
        <!-- <div>
          <img class="no-border" src="assets/angular.png" alt="angular">
        </div> -->

        <h1 style="color: #2b7cd0">Angular Training</h1>

        <h4>Routing</h4>
      </section>
    </div>

    <!-- TRAINING PURPOSE -->
    <div class="slides">
      <section>
        <section>
          <h1>Purpose</h1>
          <p>
            Learn how to configure simple routes, create links to the routes, use routes and create protected routes.
          </p>
        </section>
      </section>
    </div>

    <!--  -->
    <div class="slides">
      <section>
        <section>
          <h1>Routing</h1>
        </section>
        <section>
          <p>
            <strong class="color-orange">Routing</strong> = Matching a URL to a component.</p>
          <p> Routing provides a way to navigate between different parts of the application.</p>
        </section>
      </section>
    </div>
    <div class="slides">
      <section>
        <section>
          <h1>Configuring Routes</h1>
        </section>

        
        <section>
          <h3>Base path URL Tag</h3>
          <p>The base path URL tag is used to tell the browser what will be prefixed to the requested path to generate the URL.</p>
          <p>The Base URL tag must be set within the

            <strong>&lt;head&gt;</strong> tag of our HTML (in index.html):</p>
          <p>
            <pre><code class="html">
              &lt;base href="/">
            </code></pre>
          </p>
        </section>

        <section>
          <p>The value of the base href gets prepended to every navigation request we make.</p>
          <p>For eg:</p>
          <p>
            <pre><code class="html">
              &lt;base href='/my/app'/&gt;
            </code></pre>
          </p>
          <p>if we ask to navigate to
            <strong class="color-orange">['/moo', 'foo']</strong> the URL would change to
            <strong class="color-orange">/my/app/moo/foo</strong>
          </p>

        </section>
        <section>
          <h3>Route Definition Object</h3>
          <p>The Routes type is an array of routes that defines the routing for the application.</p>
          <p>
            <pre><code class="ts">
            import { Routes } from '@angular/router';
            const routes: Routes = [
                { path: 'component-one', component: ComponentOne },
                { path: 'component-two', component: ComponentTwo }
            ];
            </code></pre>
          </p>
        </section>
        <section>
          <p>The set of routes of the application has to be added to a list. This list must be passed to the
            <strong class="color-orange">RouterModule</strong>.</p>
          <p>
            <pre><code class="ts">
            // app.module.ts
            import { RouterModule } from '@angular/router';
            import { routes } from './routes.ts'

            @NgModule({
                imports: [
                    BrowserModule,
                    RouterModule.forRoot(routes)
                ],
                declarations: [
                    AppComponent,
                    ComponentOne,
                    ComponentTwo
                ],
                bootstrap: [ AppComponent ]
            })
            export class AppModule {
            }
            </code></pre>
          </p>
        </section>
      </section>
    </div>

    <div class="slides">
      <section>
        <section>
          <h1>Defining Links Between Routes</h1>
        </section>
        <section>
          <h3>RouterLink</h3>
          <p>We can define a link in the template by using the RouterLink directive.</p>
          <p>
            <pre><code class="html">
              <!-- defines a link to the route at path   component-one -->
              <a [routerLink]="['/component-one']">Component One</a>              </code></pre>
          </p>
        </section>
        <section>
          <h3>Router-Outlet</h3>

          <p>As an Angular application starts with a component, the first component must have a placeholder in its template.
           <br/> The placeholder is a
            <strong>router-outlet</strong> component.</p>
          <p>Angular dynamically adds the component for the route being activated into the <br/> 
            <strong>&lt;router-outlet&gt;&lt;/router-outlet&gt;</strong> element.
          </p>
        </section>
        <section>
          <p>
            <pre><code class="ts">
              import { Component } from '@angular/core';
              
              @Component({
                selector: 'app',
                template: `
                  <nav>
                    <a [routerLink]="['/component-one']">Component One</a>
                    <a [routerLink]="['/component-two']">Component Two</a>
                  </nav>
                  <router-outlet></router-outlet>
                  <!-- Route components are added by router here -->
                `
              })
              export class AppComponent {}
            </code></pre>
          </p>
        </section>
        <section>
          <h3>Navigating Programmatically</h3>
          <p>We can navigate to a route by calling the
            <strong>navigate</strong> function on the router</p>
          <p>
            <pre><code class="ts">
              import {Router} from "@angular/router"
              @Component({
                // ...
              })
              export class TestComponent {
                constructor(private router: Router) {
                  this.router.navigate(['/component-one']);
                }
              }
              </code></pre>
          </p>
        </section>
        <section>
          <h3>Redirecting the Router to Another Route</h3>
          <p>When the application starts, it navigates to the empty route by default. We can configure the router to redirect
            to a named route by default.</p>
        </section>
        <section>
          <p>
            <pre><code class="ts">
            export const routes: Routes = [
              { path: '', redirectTo: 'component-one', pathMatch: 'full' },
              { path: 'component-one', component: ComponentOne },
              { path: 'component-two', component: ComponentTwo }
            ];
              </code></pre>
          </p>
        </section>

        <section>
          <p> Each route can have different attributes; some of the common attributes are:
          </p>
          <ul>
            <li>
              <strong class="color-orange">path</strong> - URL to be shown in the browser when application is on the specific route
            </li>
            <li>
              <strong class="color-orange">component</strong> - component to be rendered when the application is on the specific route
            </li>
            <li>
              <strong class="color-orange">redirectTo</strong> - redirect route if needed; each route can have either component or redirect attribute
              defined in the route.
            </li>
            <li>
              <strong class="color-orange">pathMatch</strong> - optional property that defaults to 'prefix'; determines whether to match full URLs or
              just the beginning. When defining a route with empty path string set pathMatch to 'full', otherwise it will
              match all paths.
            </li>
            <li>
              <strong class="color-orange">children</strong> - array of route definitions objects representing the child routes of this route.</li>
          </ul>
        </section>
      </section>
    </div>

    <div class="slides">
      <section>
        <section>
          <h1>Using Route Parameters</h1>
        </section>
        <section>
          <p>
            Assume we are creating an application that displays a product list. Each product in the list has an ID. When the user clicks
            on a product in the list, we want to display a page showing the detailed information about that product.
          </p>
        </section>
        <section>
          <h3>Declaring Route Parameters</h3>
          <p>To display the details of a product we need to get the product ID from the route.</p>
          <p>
            <pre><code class="ts">
            export const routes: Routes = [
              { path: '', redirectTo: 'product-list', pathMatch: 'full' },
              { path: 'product-list', component: ProductList },
              { path: 'product-details/:id', component: ProductDetails }
            ];
          </code></pre>
          </p>
          <p>localhost:3000/product-details/5 => show details of product with id = 5</p>
        </section>
        <section>
          <h3>Linking to Routes with Parameters</h3>
          <p class="color-orange">In template</p>
          <p>
            <pre><code class="html">
            <a *ngFor="let product of products"
              [routerLink]="['/product-details', product.id]">
              {{ product.name }}
            </a>
            </code></pre>
          </p>
          <p class="color-orange">Programmatically</p>
          <p>
            <pre><code class="ts">
            `
            <button *ngFor="let product of products"
              (click)="goToProductDetails(product.id)">
              {{ product.name }}
            </button>
            `

            goToProductDetails(id) {
                this.router.navigate(['/product-details', id]);
            }
            </code></pre>
          </p>
        </section>
        <section>
          <h3>Reading Route Parameters</h3>
          <p>The ProductDetails component must read the parameter, then load the product based on the ID given in the parameter.</p>
        </section>
        <section>
          <p>The
            <strong>ActivatedRoute</strong> service provides a params Observable which we can subscribe to to get the route parameters.</p>
          <p>
            <pre><code class="ts">
              import { Component, OnInit, OnDestroy } from '@angular/core';
              import { ActivatedRoute } from '@angular/router';
              @Component({
                selector: 'product-details',
                template: `
                  <div>
                      Showing product details for product: {{id}}
                  </div>
                `,
              })
              export class LoanDetailsPage implements OnInit, OnDestroy {
                id: number;
                private sub: any;
                constructor(private route: ActivatedRoute) {}
                ngOnInit() {
                  this.sub = this.route.params.subscribe(params => {
                    this.id = +params['id']; // (+) converts string 'id' to a number
                    // make request to load the product details here.
                  });
                }
                ngOnDestroy() {
                  this.sub.unsubscribe();
                }
              }
            </code></pre>
          </p>
        </section>

        <section>
          <h3>Passing Query Parameters</h3>
          <p class="color-orange">In template</p>
          <p>
            <pre><code class="html">
              <a [routerLink]="['product-list']" [queryParams]="{ page: 99 }">Go to Page 99</a>
            </code></pre>
          </p>
          <p class="color-orange">Navigate programmatically</p>
          <p>
            <pre><code class="ts">
              goToPage(pageNum) {
                this.router.navigate(['/product-list'], { queryParams: { page: pageNum } });
              }
            </code></pre>
          </p>
        </section>
        <section>
          <h3>Reading Query Parameters</h3>
          <p>Similar to reading route parameters, the Router service returns an Observable we can subscribe to read the query
            parameters.
          </p>
          <p>
            <pre><code class="ts">
            import { Component } from '@angular/core';
            import { ActivatedRoute, Router } from '@angular/router';
            @Component({
              selector: 'product-list',
              template: `<!-- Show product list -->`
            })
            export default class ProductList {
              constructor(
                private route: ActivatedRoute,
                private router: Router) {}
              ngOnInit() {
                this.sub = this.route
                  .queryParams
                  .subscribe(params => {
                    // Defaults to 0 if no query param provided.
                    this.page = +params['page'] || 0;
                  });
              }
              ngOnDestroy() {
                this.sub.unsubscribe();
              }
              nextPage() {
                this.router.navigate(['product-list'], { queryParams: { page: this.page + 1 } });
              }
            }
          </code></pre>
          </p>
        </section>
      </section>
    </div>
    <div class="slides">
      <section>
        <section>
          <h1>Defining Child Routes</h1>
        </section>
        <section>
          <p>
            <pre><code class="ts">
            export const routes: Routes = [
              { path: '', redirectTo: 'product-list', pathMatch: 'full' },
              { path: 'product-list', component: ProductList },
              { path: 'product-details/:id', component: ProductDetails,
                children: [
                  { path: '', redirectTo: 'overview', pathMatch: 'full' },
                  { path: 'overview', component: Overview },
                  { path: 'specs', component: Specs }
                ]
              }
            ];
            </code></pre>
          </p>
        </section>
      </section>
    </div>


    <div class="slides">
      <section>
        <section>
          <h1>Route Guards</h1>
        </section>
        <section>
          <p>
            Angular provides
            <strong class="color-orange">route guards</strong> to control whether the user
            <u>can navigate to</u>, or
            <u>can leave</u> a given route.
          </p>
        </section>
        <section>
          <p>There are four types of guards :</p>
          <ul>
            <li>
              <strong class="color-orange">canLoad</strong>
            </li>
            <li>
              <strong class="color-orange">canActivate</strong>
            </li>
            <li>
              <strong class="color-orange">canActivateChild</strong>
            </li>
            <li>
              <strong class="color-orange">canDeactivate</strong>
            </li>
          </ul>
          <p> Here we are going to talk only about
            <strong>canActivate</strong> and
            <strong>canDeactivate</strong>.</p>
        </section>
        <section>
          <h3>Protected Routes</h3>
          <p>The
            <strong>canActivate</strong> guard allow to control access to a route.</p>
        </section>
        <section>
          <p class="color-orange">Implementing CanActivate</p>
          <p>
            eg: Guard that allows only a user who has logged in to access a route.
          </p>
          <p>
            <pre><code class="ts">
              import { CanActivate } from '@angular/router';
              import { Injectable } from '@angular/core';
              import { LoginService } from './login-service';
              @Injectable()
              export class LoginRouteGuard implements CanActivate {
                constructor(private loginService: LoginService) {}
                canActivate() {
                    return this.loginService.isLoggedIn();
                }
              }
            </code></pre>
          </p>
          <p>canActivate returns
            <strong class="color-orange">true</strong> => user
            <strong class="color-orange">can activate (access)</strong> the route.</p>
          <p>canActivate returns
            <strong class="color-orange">false</strong> => user
            <strong class="color-orange">can not access</strong> the route.</p>
        </section>
        <section>
          <stronjg>canActivate</stronjg> can also be used to notify the user that they can't access that part of the application,
          or redirect them to the login page.
        </section>
        <section>
          <p class="color-orange">Registering the route guards</p>
          <p>In order to use route guards, we must register them with the specific routes we want them to run for.</p>
          <p>Eg : An accounts route that only users that are logged in can navigate to.</p>
          <p>
            <pre><code class="ts">
              import { Routes, RouterModule } from '@angular/router';
              import { AccountPage } from './account-page';
              import { LoginRouteGuard } from './login-route-guard';

              export const routes: Routes = [
                { path: 'home', component: HomePage },
                {
                    path: 'accounts',
                    component: AccountPage,
                    canActivate: [LoginRouteGuard]
                }
              ];
              </code></pre>
          </p>
        </section>

        <section>
          <h3>Controling if user can leave a route</h3>
          <p>Route leaving can be controlled using
            <strong>canActivate</strong> guard.</p>
        </section>
        <section>
          <p>
            <strong class="color-orange">canDeactivate</strong> works in a similar way to
            <strong>canActivate</strong> but there are some important differences.
            <u>The canDeactivate function passes the component being deactivated as an argument to the function</u>
          </p>
        </section>
        <section>
          <p class="color-orange">Implementing CanDeactivate</p>
          <p>
            <pre><code class="ts">
              import { CanDeactivate } from '@angular/router';
              import { Injectable } from '@angular/core';
              import { AccountPage } from './account-page';

              @Injectable()
              export class SaveFormsGuard implements CanDeactivate&lt;AccountPage&gt; {
                canDeactivate(component: AccountPage) {
                  return component.areFormsSaved();
                }
              }
              </code></pre>
          </p>
          <p>canDeactivate returns
            <strong class="color-orange">true</strong> => user
            <strong class="color-orange">can deactivate (leave)</strong> the route.</p>
          <p>canDeactivate returns
            <strong class="color-orange">false</strong> => user
            <strong class="color-orange">can not leave</strong> the route.</p>
        </section>
      </section>
    </div>
  </div>

  <script src="lib/js/head.min.js"></script>
  <script src="js/reveal.js"></script>

  <script>
    // More info about config & dependencies:
    // - https://github.com/hakimel/reveal.js#configuration
    // - https://github.com/hakimel/reveal.js#dependencies
    Reveal.initialize({
      dependencies: [
        { src: 'plugin/markdown/marked.js' },
        { src: 'plugin/markdown/markdown.js' },
        { src: 'plugin/notes/notes.js', async: true },
        { src: 'plugin/highlight/highlight.js', async: true, callback: function () { hljs.initHighlightingOnLoad(); } }
      ]
    });
  </script>
</body>

</html>