<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Angular Training</title>

  <link rel="stylesheet" href="css/reveal.css">
  <!-- <link rel="stylesheet" href="css/theme/black.css"> -->
  <link rel="stylesheet" href="css/theme/white.css">

  <!-- Theme used for syntax highlighting of code -->
  <link rel="stylesheet" href="lib/css/zenburn.css">

  <!--  custom css -->
  <link rel="stylesheet" href="css/custom.css">

  <!-- Printing and PDF exports -->
  <script>
    var link = document.createElement('link');
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
    document.getElementsByTagName('head')[0].appendChild(link);
  </script>
</head>

<body>
  <div class="reveal">
    <div class="slides">
      <!--
        ff7200
        #662d91
      -->
      <!--  <section data-background-opacity="0.1" data-background-image="assets/code.png"> -->
      <section>
        <!-- <div>
          <img class="no-border" src="assets/angular.png" alt="angular">
        </div> -->

        <div>
          <img class="no-border" src="assets/gebeya-brand.png" alt="logo">
        </div>
        <h1 style="color: #662d91">Angular Training</h1>

        <h4>Making HTTP Requests</h4>
      </section>
    </div>

    <!-- TRAINING PURPOSE -->
    <div class="slides">
      <section>
        <section>
          <h1>Purpose</h1>
          <p>
            Learn how to make HTTP requests with Angular using the HttpClientModule.
          </p>
        </section>
      </section>
    </div>

    <!--  -->
    <div class="slides">
      <section>

        <section>
          <h1>Set up a small Restful server for tests</h1>
        </section>
        <section>
          <p>We need a
            <strong class="color-orange">back-end server</strong> to which we will send our HTTP Requests.</p>
          <p> The back-end server can be developped using any server side language
            <small>(or runtime environment)</small> like
            <strong>Node.js</strong>,
            <strong>.Net</strong>,
            <strong>PHP</strong>, etc.</p>
        </section>
        <section>
          <p>Instead of creating a back-end application from scratch, we will use
            <strong class="color-orange">JSON Server</strong>
          </p>
          <p>
            <strong>JSON Server</strong> = Node.js module to create a fake Restful server easilly.</p>
          <p>
            <small class="color-orange">https://github.com/typicode/json-server</small>
          </p>
        </section>
        <section>
          <p class="color-orange">Install JSON Server</p>
          <p>
            <pre><code class="bash">
              npm install -g json-server
            </code></pre>
          </p>
        </section>
        <section>
          <p class="color-orange">Set up JSON Server</p>
          <p>Create a db.json at the root of the project with the following content</p>
          <p>
            <pre><code class="json">
              {
                "users": [
                  { "id": 1, "name": "User_1", "email": "user_1@test.ext", },
                  { "id": 2, "name": "User_2", "email": "user_2@test.ext", },
                  { "id": 3, "name": "User_3", "email": "user_3@test.ext", }
                ]
              }
            </code></pre>
          </p>
        </section>
        <section>
          <p class="color-orange">Start JSON Server</p>
          <p>
            <pre><code class="bash">
              json-server --watch db.json
            </code></pre>
          </p>
          <p class="color-orange">Check that JSON Server is running</p>
          <p> Go to
            <strong class="color-purple">http://localhost:3000/users/1</strong>, you'll get</p>
          <pre><code class="json">
                { "id": 1, "name": "User_1", "email": "user_1@test.ext" }
              </code></pre>
        </section>
      </section>
    </div>
    <div class="slides">
      <section>
        <section>
          <h1>
            A test project
          </h1>
        </section>
        <section>
          <p>
            <small>To make this part more pratical, we will create a small user list application project.</small>
          </p>
          <p class="color-orange">Description</p>
          <div style="text-align: left; padding-left: 25px">
            <p>
              The application consist of a simple page that displays a list of users that it gets from the back-end. The user list is displayed
              using a simple html list (UL tag).</p>
            <p> Each line of the list will displayed the information about a user (name, email), a button to delete the user
              from the list and a button to update a user information.</p>
            <p>A button will also be displayed on the top of the list to simulate creation of a new user (on click, it will
              create a user with random username and email then add the user to the list) .
            </p>
          </div>
        </section>
        <section>
          <p class="color-orange">To Do</p>
          <p>Implement the function to :</p>
          <p>
            <ul>
              <li>Get the list of all users</li>
              <li>Greate a new user</li>
              <li>Delete a user from the list</li>
            </ul>
          </p>
        </section>
      </section>
    </div>
    <div class="slides">
      <section>
        <section>
          <h1>HTTP Requests in Angular</h1>
        </section>
        <section>
          <p>Angular provides
            <strong class="color-orange">HttpClientModule</strong>to communicate with a server using HTTP requests.</p>
          <p> HTTP request can be performed by using the
            <strong class="color-orange">HttpClient</strong> service of the
            <strong>HttpClientModule</strong>.</p>
        </section>
        <section>
          <ul>
            <li>
              <strong class="color-orange">HttpClient</strong> use the
              <strong class="color-orange">XMLHttpRequest</strong> browser API.</li>
            <li>For making http request HttpClient provides the following methods : get, post, put, delete, patch, head, jsonp.
            </li>
            <li>
              <strong class="color-orange">JSON</strong> data returned by default.</li>
          </ul>
        </section>
        <section>
          <p class="color-orange">Making HttpClient service available in your module : </p>
          <p>
            <pre><code class="ts">
              import { BrowserModule } from '@angular/platform-browser';
              import { NgModule } from '@angular/core';
              import { HttpClientModule } from '@angular/common/http';

              import { AppComponent } from './app.component';

              @NgModule({
                declarations: [
                  AppComponent
                ],
                imports: [
                  BrowserModule,
                  HttpClientModule
                ],
                providers: [],
                bootstrap: [AppComponent]
              })
              export class AppModule { }
            </code></pre>
          </p>
        </section>
        <section>
          <p class="color-orange">Create a service to handle all requests to the server :</p>
          <p>
            <pre><code class="ts">
              import { HttpClient, HttpHeaders } from '@angular/common/http';
              import { Injectable } from '@angular/core';

              const API_BASE_URL = '127.0.0.1:3000'
              const userEnpoint = `${API_BASE_URL}/users`
              @Injectable({
                providedIn: 'root'
              })
              export class UserService {
                constructor(private http: HttpClient) {}

                getAll() {
                  return this.http.get(userEnpoint);
                }

                getById(userId: string) {
                  return this.http.get(`${userEnpoint}/${userId}`);
                }

                create(userData: any) {
                  const headers = new HttpHeaders().set('Content-Type', 'application/json')
                  const options = {headers}
                  return this.http.post(userEnpoint, userData, options);
                }

                update(userId: string, userData: any) {
                  const headers = new HttpHeaders().set('Content-Type', 'application/json')
                  const options = {headers}
                  const updateEnpoint = `${userEnpoint}/${userId}`
                  return this.http.put(updateEnpoint, userData, options);
                }

                delete(userId: string) {
                  return this.http.delete(`${userEnpoint}/${userId}`);
                }
              }
            </code></pre>
          </p>
        </section>
        <section>
          <p class="color-orange">Inject the service into a component and handle the request's response :</p>
          <p>
            <pre><code class="ts">
              import { Component, OnInit } from '@angular/core';

              @Component({
                selector: 'user-list',
                template: `
                  <h2>User List</h2> :
                  <p><button (click)="addNewUser()">Add new user</button></p>
                  <div>
                    &lt;ul *ngIf="users else empty">
                      &lt;li *ngFor="let user of users"> Name : {{user.name}} , Email : {{user.email}} | <button (click)="editUser(user.id)">Edit</button> | <button (click)="deleteUser(user.id)">Delete</button></li>
                    &lt;/ul>
                  </div>
                  &lt;ng-template #empty>
                    The list is empty
                  &lt;/ng-template>
                `
              })
              export class UserListComponent implements OnInit {
                constructor (private userServ: UserService) {}
                users = []

                ngOnInit() {
                  this.refreshList()
                }
              
                refreshList() {
                  this.userServ.getAll().subscribe(
                    users => {
                      this.users = users
                    },
                    error => {
                      console.log("An error happened when trying to get the list of users.")					
                      console.log(error)
                    }
                  )
                }
                editUser(user.id) {
                  // ...
                }
              
                addNewUser() {
                  const numberOfUser = this.users.length
                  const newUserId = numberOfUser + 1
                  const newUserData = {
                    "name": `User_${newUserId}`,
                    "email": `user_${newUserId}@test.ext`
                  }

                  this.userServ.create(newUserData).subscribe(
                    users => {
                      console.log("New user added.")
                      this.refreshList()
                    },
                    error => {
                      console.log("An error happened when trying to get the list of users.")
                      console.log(error)
                    }
                  )
                }

                deleteUser(userId: string) {
                  this.userServ.delete(userId).subscribe(
                    users => {
                      console.log(`User deleted.`)
                    },
                    error => {
                      console.log("An error happened when trying to delete the user")
                      console.log(error)
                    }
                  )
                }
              }
            </code></pre>
          </p>
        </section>
      </section>
    </div>

  </div>

  <script src="lib/js/head.min.js"></script>
  <script src="js/reveal.js"></script>

  <script>
    // More info about config & dependencies:
    // - https://github.com/hakimel/reveal.js#configuration
    // - https://github.com/hakimel/reveal.js#dependencies
    Reveal.initialize({
      dependencies: [
        { src: 'plugin/markdown/marked.js' },
        { src: 'plugin/markdown/markdown.js' },
        { src: 'plugin/notes/notes.js', async: true },
        { src: 'plugin/highlight/highlight.js', async: true, callback: function () { hljs.initHighlightingOnLoad(); } }
      ]
    });
  </script>
</body>

</html>