<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Angular Training</title>

  <link rel="stylesheet" href="css/reveal.css">
  <!-- <link rel="stylesheet" href="css/theme/black.css"> -->
  <link rel="stylesheet" href="css/theme/white.css">

  <!-- Theme used for syntax highlighting of code -->
  <link rel="stylesheet" href="lib/css/zenburn.css">

  <!--  custom css -->
  <link rel="stylesheet" href="css/custom.css">

  <!-- Printing and PDF exports -->
  <script>
    var link = document.createElement('link');
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
    document.getElementsByTagName('head')[0].appendChild(link);
  </script>
</head>

<body>
  <div class="reveal">
    <div class="slides">
      <!--
        ff7200
        #662d91
      -->
      <!--  <section data-background-opacity="0.1" data-background-image="assets/code.png"> -->
      <section>
        <!-- <div>
          <img class="no-border" src="assets/angular.png" alt="angular">
        </div> -->

        <div>
          <img class="no-border" src="assets/gebeya-brand.png" alt="logo">
        </div>
        <h1 style="color: #662d91">Angular Training</h1>

        <h4>Miscellaneous</h4>
      </section>
    </div>

    <!-- TRAINING PURPOSE -->
    <div class="slides">
      <section>
        <section>
          <h1>Purpose</h1>
          <p>
            <ul>Learn :
              <li>Custom Form Validators</li>
              <li>Accessing Child Component Classes</li>
              <li>Lazy Loading</li>
            </ul>
          </p>
        </section>
      </section>
    </div>

    <!--  -->
    <div class="slides">
      <section>
        <section>
          <h1>Custom Form Validators</h1>
        </section>
        <section>
          <p>Validators at their core are just functions</p>
          <p>They take as input a
            <strong>FormControl</strong> instance and returns either :
            <ul>
              <li>
                <strong class="color-orange">null</strong> if it’s valid</li>
              <li>
                <strong class="color-orange">error object</strong> if it’s not</li>
            </ul>
          </p>
        </section>

        <section>
          <p class="color-orange">Declaration</p>
          <p>
            <pre><code class="ts">
            export function oddNumberValidator(control: FormControl) {
              const value = control.value;
              if (value % 2 == 0) {
                return {oddNumber: false}
              }
              return null;
            }
              </code></pre>
          </p>
        </section>
        <section>
          <p class="color-orange">Usage</p>
          <p>
            <pre><code class="ts">
            this.odd = new FormControl('', [
              Validators.required,
              oddNumberValidator
            ]);
            </code></pre>
          </p>
          <p>
            <pre><code class="html">
            <!-- in the template -->
            &lt;div *ngIf="odd.errors && (odd.dirty || odd.touched)"&gt;
              &lt;p *ngIf="odd.errors.required"&gt;The number is required&lt;/p&gt;
              &lt;p *ngIf="odd.errors.oddNumber"&gt;The number must be an odd number&lt;/p&gt;
            &lt;/div&gt;
            </code></pre>
          </p>
        </section>
      </section>
    </div>
    <div class="slides">
      <section>
        <section>
          <h1>Accessing Child Component Classes</h1>
        </section>
        <section>
          <h3>@ViewChild & @ViewChildren</h3>
          <p>The
            <strong class="color-orange">@ViewChild</strong> &
            <strong class="color-orange">@ViewChildren</strong> decorators allow access to the classes of child components of the current component.</p>
        </section>
        <section>
          <h3> @ViewChild</h3>
          <p>
            <strong class="color-orange">@ViewChild</strong> selects one class instance of the given child component class when given a type.
          </p>
        </section>
        <section>
          <p>Eg: we can call
            <strong>exampleFunction</strong> which is on the child component
            <strong>Hello</strong> class:</p>
          <p>
            <pre><code class="ts">
            import { Component, ViewChild } from '@angular/core';
            import { Hello } from './hello.component';
            @Component({
              selector: 'app',
              template: `
                <div>
                  <hello></hello>
                </div>
                <button (click)="onClick()">Call Child function</button>`
            })
            export class App {
              @ViewChild(Hello) child: Hello;

              constructor() {}
              onClick() {
                this.child.exampleFunction();
              }
            }
            </code></pre>
          </p>
        </section>
        <section>
          <h3> @ViewChildren</h3>
          <p>
            We can also use
            <strong class="color-orange">@ViewChildren</strong> to get a list of class instances if there are multiple, which selects a
            <strong class="color-orange">QueryList</strong> of the elements.
          </p>
        </section>
        <section>
          <p>
            <pre><code class="ts">
            import { Component, QueryList, ViewChildren } from '@angular/core';
            import { Hello }  from './hello.component';
            @Component({
              selector: 'app',
              template: `
              <div>
                <hello></hello>
                <hello></hello>
                <hello></hello>
              </div>
              <button (click)="onClick()">Call Child function</button>`
            })
            export class App {
              @ViewChildren(Hello) helloChildren: QueryList<Hello>;
              constructor() {}
              onClick() {
                this.helloChildren.forEach((child) => child.exampleFunction());
              }
            }
            </code></pre>
          </p>
        </section>
        <section>
          <p>when given a class type
            <strong>@ViewChild</strong> &
            <strong>@ViewChildren</strong> select child components based on type. However,
            <u>they can also be passed selector strings</u>.</p>
        </section>
        <section>
          <p>In the code below, only the middle hello element is selected and called :</p>
          <p>
            <pre><code class="ts">
            import { Component, QueryList, ViewChildren } from '@angular/core';
            import { Hello } from './hello.component';
            @Component({
              selector: 'app',
              template: `
              <div>
                <hello></hello>
                &lt;hello #middle&gt;&lt;/hello&gt;
                <hello></hello>
              </div>
              <button (click)="onClick()">Call Child function</button>`
            })
            export class App {
              @ViewChildren('middle') helloChildren: QueryList<Hello>;
              constructor() {}
              onClick() {
                this.helloChildren.forEach((child) => child.exampleFunction());
              }
            }
            </code></pre>
          </p>
        </section>
      </section>
    </div>

    <div class="slides">
      <section>
        <section>
          <h1>Lazy Loading</h1>
        </section>
        <section>
          <p>
            <p>
              An Angular application consist of several modules.
              <strong>Instead of loading all modules</strong> at the application startup time , we can choose to
              <strong class="color-orange">load module only on demand</strong>.</p>
            <p>
              <strong class="color-orange">Lazy loading</strong> = Loading modules on demand.
            </p>
        </section>
        <section>
          <p>Lazy loading modules helps us
            <strong class="color-orange">decrease the startup time</strong>.</p>
          <p>Modules that are lazily loaded will only be loaded when the user navigates to their routes.</p>
        </section>
        <section>
          <p>There are three main steps to setting up a lazy loaded feature module : </p>
          <ul>
            <li>Create the feature module.</li>
            <li>Create the feature module’s routing module.</li>
            <li>Configure the routes.</li>
          </ul>
        </section>
        <section>
          <p class="color-orange">Create the feature module’s routing module</p>
          <p>
            <pre><code class="ts">
            // user-routing.module.ts
            import { NgModule } from "@angular/core";
            import { RouterModule, Routes } from "@angular/router";
            import { UserListComponent } from './user-list.component';

            const routes: Routes = [
              { path: "", component: UserListComponent}
            ];

            @NgModule({
              exports: [RouterModule],
              imports: [RouterModule.forChild(routes)]
            })
            export class UserRoutingModule { }
            </code></pre>
          </p>
        </section>
        <section>
          <p class="color-orange">Create the feature module</p>
          <p>
            <pre><code class="ts">
            // user.module.ts
            import { NgModule } from "@angular/core";
            import { CommonModule } from "@angular/common";
            
            import { UserRoutingModule  } from "./user-routing.module";
            import { UserListComponent } from './user-list.component'
            
            @NgModule({
              imports: [CommonModule, UserRoutingModule],
              declarations: [UserListComponent]
            })
            export class UserModule {}
              </code></pre>
          </p>
        </section>
        <section>
          <p class="color-orange">Set up the root module's routing module</p>
          <p>
            <pre><code class="ts">
              // app-routing.module.ts

              import { NgModule } from "@angular/core";
              import { RouterModule, Routes } from "@angular/router";
              import { AppComponent } from "./app.component";
              
              const routes: Routes = [
                {
                  path: "",
                  component: HomeComponent
                },
                {
                  path: "users",
                  loadChildren: "../app/user/user.module#UserModule"
                }
              ];

              @NgModule({
                imports: [RouterModule.forRoot(routes)],
                exports: [RouterModule],
                providers: []
              })
              export class AppRoutingModule {}
              </code></pre>
          </p>
        </section>
        <section>
          <p class="color-orange">The root module</p>
          <p>
            <pre><code class="ts">
              // app.module.ts

              import { BrowserModule } from "@angular/platform-browser";
              import { NgModule } from "@angular/core";
              import { AppComponent } from "./app.component";
              
              import { AppRoutingModule } from "./app-routing.module";


              @NgModule({
                declarations: [AppComponent],
                imports: [BrowserModule, AppRoutingModule],
                providers: [],
                bootstrap: [AppComponent]
              })
              export class AppModule {}
                </code></pre>
          </p>
        </section>

        <section>
          <p class="color-orange">The root component</p>
          <p>
            <pre><code class="ts">
            // app/app.component.ts

            import { Component } from '@angular/core';
            @Component({
              selector: 'my-app',
              template: `
                <h1>My App</h1>
                <nav>
                  <a routerLink="">Home</a>
                  <a routerLink="users">Users</a>
                </nav>
                <router-outlet></router-outlet>
              `
            })
            export class AppComponent {}
          </code></pre>
          </p>
        </section>
      </section>
    </div>
  </div>

  <script src="lib/js/head.min.js"></script>
  <script src="js/reveal.js"></script>

  <script>
    // More info about config & dependencies:
    // - https://github.com/hakimel/reveal.js#configuration
    // - https://github.com/hakimel/reveal.js#dependencies
    Reveal.initialize({
      dependencies: [
        { src: 'plugin/markdown/marked.js' },
        { src: 'plugin/markdown/markdown.js' },
        { src: 'plugin/notes/notes.js', async: true },
        { src: 'plugin/highlight/highlight.js', async: true, callback: function () { hljs.initHighlightingOnLoad(); } }
      ]
    });
  </script>
</body>

</html>